name: release-test
on:
  workflow_dispatch:

defaults:
  run:
    shell: pwsh

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest ]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.PUSH_GITHUB_TOKEN }}
      - run: |
          npm install
          npm run build:tools
          npm run build:agent:github
          npm run build:agent:azure

        name: Build code
      - name: Install GitVersion
        uses: ./gitversion/setup
        with:
          versionSpec: '6.x'
      - name: Use GitVersion
        id: gitversion # step id used as reference for output values
        uses: ./gitversion/execute
      - name: Get tags
        id: get-tags
        shell: pwsh
        run: |
          # Finding the version from release tag

          $newTag = "${{steps.gitversion.outputs.majorMinorPatch}}"
          $oldTag = $(git describe --abbrev=0 --tags $(git rev-list --tags --skip=1 --max-count=1)).Trim("v")
          echo "Old tag: $oldTag"
          echo "New tag: $newTag"

          "oldTag=$oldTag" >> $env:GITHUB_OUTPUT
          "newTag=$newTag" >> $env:GITHUB_OUTPUT
      - uses: peter-evans/repository-dispatch@v3
        name: Trigger Update Examples version (actions-test)
        with:
          token: ${{ secrets.RELEASE_GITHUB_TOKEN }}
          repository: ${{ github.repository_owner }}/actions-test
          event-type: update-examples
          client-payload: '{"oldTag": "${{ steps.get-tags.outputs.oldTag }}", "newTag": "${{ steps.get-tags.outputs.newTag }}"}'
